:root {
    --clr-primary: rgb(96, 107, 91);
    --clr-secondary: rgb(112, 101, 107);
    --clr-bg: rgb(153, 166, 149);
    --clr-bg-light: rgb(205, 221, 200);
    --clr-accent: rgb(253, 236, 246);
    --clr-text: rgb(50, 50, 50);
}

body {
    margin: 0;
    font-family: "Edu VIC WA NT Beginner", cursive;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

